<div *ngIf="show">
  <p-panel [collapsed]="true" [toggleable]="true" [style]="{'direction': 'rtl', 'margin-bottom': '20px'}">
    <p-header>
      <div class="ui-helper-clearfix" style="text-align: center;">
        <span class="ui-panel-title arabicTitle" style="display:inline-block;margin-top:2px">
         {{ abbreviatedConjugation.conjugationHeader.title || '&nbsp;' }}
         </span>
      </div>
    </p-header>
    <div class="ui-g">
      <div class="ui-g-12 ui-md-12 ui-lg-6" style="text-align: right;">
        <div class="arabicNormalBig"> {{ typeLabel1 || '&nbsp;'}} </div>
        <div class="arabicNormalBig"> {{ typeLabel2 || '&nbsp;'}} </div>
        <div class="arabicNormalBig"> {{ typeLabel3 || '&nbsp;'}} </div>
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-6" style="text-align: left;">
         <div class="translation"> {{ translation || '&nbsp;'}} </div>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-12 ui-md-6 ui-lg-3" style="text-align: center;">
        <div class="arabicNormalBig"> {{ abbreviatedConjugation.pastTense || '&nbsp;'}} </div>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-3" style="text-align: center;">
        <div class="arabicNormalBig"> {{ abbreviatedConjugation.presentTense || '&nbsp;'}} </div>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-3" style="text-align: center;">
        <div class="arabicNormalBig"> {{ verbalNounsText || '&nbsp;'}} </div>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-3" style="text-align: center;">
        <div class="arabicNormalBig"> {{ abbreviatedConjugation.activeParticiple || '&nbsp;'}} </div>
      </div>
    </div>
    <template [ngIf]="showPassive">
      <div class="ui-g">
        <div class="ui-g-12 ui-md-6 ui-lg-3" style="text-align: center;">
          <div class="arabicNormalBig"> {{ abbreviatedConjugation.pastPassiveTense || '&nbsp;'}} </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3" style="text-align: center;">
          <div class="arabicNormalBig"> {{ abbreviatedConjugation.presentPassiveTense}} </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3" style="text-align: center;">
          <div class="arabicNormalBig"> {{ abbreviatedConjugation.verbalNouns || '&nbsp;'}} </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3" style="text-align: center;">
          <div class="arabicNormalBig" style="text-align: center;"> {{ abbreviatedConjugation.passiveParticiple || '&nbsp;'}} </div>
        </div>
      </div>
    </template>
    <div class="ui-g">
      <div class="ui-g-12 ui-md-12 ui-lg-6" style="text-align: center;">
        <div class="arabicNormalBig"> {{ abbreviatedConjugation.imperative || '&nbsp;'}} </div>
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-6" style="text-align: center;">
        <div class="arabicNormalBig"> {{ abbreviatedConjugation.forbidding || '&nbsp;'}} </div>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-12 ui-md-12 ui-lg-12" style="text-align: center;">
        <div class="arabicNormalBig"> {{ adverbsText || '&nbsp;'}} </div>
      </div>
    </div>
  </p-panel>
</div>
