<div *ngIf="show">
  <p-panel [collapsed]="collaspPanel" [toggleable]="true" [style]="{'direction': 'rtl', 'margin-bottom': '20px'}" (onAfterToggle)="handleToggle($event)">
    <p-header>
      <div class="ui-helper-clearfix" style="text-align: center;">
        <span class="ui-panel-title arabicTitle" style="display:inline-block;margin-top:2px">
         {{ abbreviatedConjugation.conjugationHeader.title || '&nbsp;' }}
         </span>
      </div>
    </p-header>
    <div class="content-section implementation ui-fluid">
      <div class="ui-grid-row">
        <div class="ui-grid-col-6">
          <div class="translation" style="text-align: left;"> {{ translation || '&nbsp;'}} </div>
        </div>
        <div class="ui-grid-col-6">
          <div class="arabicNormalBig" style="text-align: right;"> {{ typeLabel1 || '&nbsp;'}} </div>
          <div class="arabicNormalBig" style="text-align: right;"> {{ typeLabel2 || '&nbsp;'}} </div>
          <div class="arabicNormalBig" style="text-align: right;"> {{ typeLabel3 || '&nbsp;'}} </div>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-12">&nbsp;</div>
      </div>
      <!-- start of active tense row -->
      <div class="ui-grid-row">
        <div class="ui-grid-col-6">
          <app-toggle-selector [value]="abbreviatedConjugation.presentTense" styleClass="abbreviatedConjugationSelector"></app-toggle-selector>
        </div>
        <div class="ui-grid-col-6">
          <app-toggle-selector [value]="abbreviatedConjugation.pastTense" styleClass="abbreviatedConjugationSelector"></app-toggle-selector>
        </div>
      </div>
      <!-- end of active tense row -->
      <div class="ui-grid-row">
        <div class="ui-grid-col-12">&nbsp;</div>
      </div>
      <!-- start of active participle row -->
      <div class="ui-grid-row">
        <div class="ui-grid-col-6">
          <app-toggle-selector [value]="abbreviatedConjugation.activeParticipleFeminine" styleClass="abbreviatedConjugationSelector"></app-toggle-selector>
        </div>
        <div class="ui-grid-col-6">
          <app-toggle-selector [value]="abbreviatedConjugation.activeParticipleMasculine" styleClass="abbreviatedConjugationSelector"></app-toggle-selector>
        </div>
      </div>
      <!-- end of active participle row -->
      <div class="ui-grid-row">
        <div class="ui-grid-col-12">&nbsp;</div>
      </div>
      <template [ngIf]="showPassive">
        <!-- start of passive tense row -->
        <div class="ui-grid-row">
          <div class="ui-grid-col-6">
            <app-toggle-selector [value]="abbreviatedConjugation.presentPassiveTense" styleClass="abbreviatedConjugationSelector"></app-toggle-selector>
          </div>
          <div class="ui-grid-col-6">
            <app-toggle-selector [value]="abbreviatedConjugation.pastPassiveTense" styleClass="abbreviatedConjugationSelector"></app-toggle-selector>
          </div>
        </div>
        <!-- end of passive tense row -->
        <div class="ui-grid-row">
          <div class="ui-grid-col-12">&nbsp;</div>
        </div>
        <!-- start of passive participle row -->
        <div class="ui-grid-row">
          <div class="ui-grid-col-6">
            <app-toggle-selector [value]="abbreviatedConjugation.passiveParticipleFeminine" styleClass="abbreviatedConjugationSelector"></app-toggle-selector>
          </div>
          <div class="ui-grid-col-6">
            <app-toggle-selector [value]="abbreviatedConjugation.passiveParticipleMasculine" styleClass="abbreviatedConjugationSelector"></app-toggle-selector>
          </div>
        </div>
        <!-- end of passive participle row -->
        <div class="ui-grid-row">
          <div class="ui-grid-col-12">&nbsp;</div>
        </div>
      </template>
      <!-- start of imperative and forbidding row -->
      <div class="ui-grid-row">
        <div class="ui-grid-col-6">
          <app-toggle-selector [value]="abbreviatedConjugation.imperative" styleClass="abbreviatedConjugationSelector"></app-toggle-selector>
        </div>
        <div class="ui-grid-col-6">
          <app-toggle-selector [value]="abbreviatedConjugation.forbidding" styleClass="abbreviatedConjugationSelector"></app-toggle-selector>
        </div>
      </div>
      <!-- end of imperative and forbidding row -->
      <div class="ui-grid-row">
        <div class="ui-grid-col-12">&nbsp;</div>
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-g-12 ui-md-12 ui-lg-12" style="text-align: center;">
        <div class="arabicNormalBig"> {{ adverbsText || '&nbsp;'}} </div>
      </div>
    </div>
  </p-panel>
</div>

<template [ngIf]="nounGroup">
  <app-noun-conjugation [group]="nounGroup" [collapsed]="collaspDetailedConjugationPanel"></app-noun-conjugation>
</template>

<template [ngIf]="verbGroup">
  <app-verb-conjugation [group]="verbGroup" [collapsed]="collaspDetailedConjugationPanel"></app-verb-conjugation>
</template>
