<div *ngIf="show">
  <div>&nbsp;</div>
  <p-panel [collapsed]="true" [toggleable]="true" [style]="{'margin-top':'20px', 'direction': 'rtl'}">
    <p-header>
      <div class="ui-helper-clearfix" style="text-align: center;">
        <span class="ui-panel-title arabicTitle" style="display:inline-block;margin-top:2px">
         {{ title }}
         </span>
      </div>
    </p-header>
    <div class="ui-g">
      <div class="ui-g-12 ui-md-6 ui-lg-3" style="text-align: center;">
        <div class="arabicNormalBig"> {{ abbreviatedConjugation.activeLine.pastTense || '&nbsp;'}} </div>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-3" style="text-align: center;">
        <div class="arabicNormalBig"> {{ abbreviatedConjugation.activeLine.presentTense || '&nbsp;'}} </div>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-3" style="text-align: center;">
        <div class="arabicNormalBig"> {{ abbreviatedConjugation.activeLine.verbalNoun || '&nbsp;'}} </div>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-3" style="text-align: center;">
        <div class="arabicNormalBig"> {{ abbreviatedConjugation.activeLine.activeParticipleValue || '&nbsp;'}} </div>
      </div>
    </div>
    <template [ngIf]="showPassive">
      <div class="ui-g">
        <div class="ui-g-12 ui-md-6 ui-lg-3" style="text-align: center;">
          <div class="arabicNormalBig"> {{ abbreviatedConjugation.passiveLine.pastPassiveTense || '&nbsp;'}} </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3" style="text-align: center;">
          <div class="arabicNormalBig"> {{ abbreviatedConjugation.passiveLine.presentPassiveTense}} </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3" style="text-align: center;">
          <div class="arabicNormalBig"> {{ abbreviatedConjugation.passiveLine.verbalNoun || '&nbsp;'}} </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-3" style="text-align: center;">
          <div class="arabicNormalBig" style="text-align: center;"> {{ abbreviatedConjugation.passiveLine.passiveParticipleValue || '&nbsp;'}} </div>
        </div>
      </div>
    </template>
    <div class="ui-g">
      <div class="ui-g-12 ui-md-12 ui-lg-6" style="text-align: center;">
        <div class="arabicNormalBig"> {{ abbreviatedConjugation.imperativeAndForbiddingLine.imperativeWithPrefix || '&nbsp;'}} </div>
      </div>
      <div class="ui-g-12 ui-md-12 ui-lg-6" style="text-align: center;">
        <div class="arabicNormalBig"> {{ abbreviatedConjugation.imperativeAndForbiddingLine.forbiddingWithPrefix || '&nbsp;'}} </div>
      </div>
    </div>
    <div class="ui-g">
      <div class="ui-g-12 ui-md-12 ui-lg-12" style="text-align: center;">
        <div class="arabicNormalBig"> {{ abbreviatedConjugation.adverbLine.adverb || '&nbsp;'}} </div>
      </div>
    </div>
  </p-panel>
</div>
