<app-toolbar (onAction)="performAction($event)"></app-toolbar>
<div>&nbsp;</div>

<p-tabView (onChange)="handleChange($event)">
  <p-tabPanel header="Table">
    <p-dataTable [value]="applicationController.data" [(selection)]="selectedRows" selectionMode="multiple" [rows]="20" [paginator]="true"
      [responsive]="true" [editable]="true" (onRowSelect)="selectRow($event)">
      <p-column [style]="&#123;'width':'38px'&#125;" selectionMode="multiple"></p-column>
      <p-column field="rootLetters" header="Root Letters" [style]="{'width': '200px'}">
        <ng-template let-mi="rowData" pTemplate="body">
          <div class="arabicNormal">{{ mi.rootLetters.label }}</div>
        </ng-template>
      </p-column>
      <p-column field="template" header="Family" [style]="{'width': '350px'}" [editable]="true">
        <ng-template let-mi="rowData" pTemplate="body">
          <div style="direction: rtl">
            <span class="arabicNormal">{{ mi.template.label }}</span> &mdash; <span>{{ mi.template.code}}</span>
          </div>
        </ng-template>
      </p-column>
      <p-column field="verbalNounsText" header="Verbal Nouns">
        <ng-template let-mi="rowData" pTemplate="body">
          <div class="arabicNormal">{{ mi.verbalNounsText }}</div>
        </ng-template>
      </p-column>
      <p-column field="translation" header="Translation">
        <ng-template let-mi="rowData" pTemplate="body">
          <div style="font-size: 14px">{{ mi.translation }}</div>
        </ng-template>
      </p-column>
      <p-column styleClass="col-button" [style]="{'width': '60px'}">
        <ng-template let-row="rowData" pTemplate="body">
          <button type="button" pButton (click)="viewConjugation(row)" icon="fa-search"></button>
        </ng-template>
      </p-column>
    </p-dataTable>
  </p-tabPanel>
  <p-tabPanel header="Conjugation">
    <app-morphological-chart #chart></app-morphological-chart>
  </p-tabPanel>
</p-tabView>

<p-confirmDialog width="425"></p-confirmDialog>
<app-morphological-input-form #form [(visible)]="displayDialog" (onHide)="hnadleHide($event)"></app-morphological-input-form>
<app-file [visible]="importDialog" mode="import" (onClose)="importFile($event)"></app-file>
<app-file [visible]="exportDialog" mode="export" (onClose)="exportFile($event)"></app-file>
