<app-toolbar (onAction)="performAction($event)"></app-toolbar>
<div>&nbsp;</div>

<p-tabView (onChange)="handleChange($event)">
  <p-tabPanel #tabPanel header="Table">
    <p-table [value]="applicationController.data" [(selection)]="selectedRows" [rows]="numOfRows"
      [paginator]="true" [editable]="true" [contextMenu]="cm" [customSort]="true" (sortFunction)="handleSort($event)">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem;">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th style="width: '200px';">Root Letters</th>
          <th style="width: '350px';">Family</th>
          <th style="width: '350px';">Verbal Nouns</th>
          <th>Translation</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-mi>
        <tr>
          <td>
            <p-tableCheckbox [value]="mi"></p-tableCheckbox>
          </td>
          <td>
            <span style="direction: rtl" class="arabicNormal">{{mi.rootLetters.label}}</span>
          </td>
          <td>
            <span style="direction: rtl" class="arabicNormal">{{ mi.template.label }}</span> &mdash; <span>{{ mi.template.code}}</span>
          </td>
          <td>
            <span style="direction: rtl" class="arabicNormal">{{ mi.verbalNounsText }}</span>
          </td>
          <td>
            <span style="font-size: 14px">{{ mi.translation }}</span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-tabPanel>
  <p-tabPanel header="Conjugation" [disabled]="disableConjugationTab">
    <ng-template [ngIf]="selectedAbbreviatedConjugation" [ngIfElse]="loading">
      <app-abbreviated-conjugation [abbreviatedConjugation]="selectedAbbreviatedConjugation"></app-abbreviated-conjugation>
    </ng-template>
    <ng-template #loading>
      <div>Loading, Please wait ...</div>
    </ng-template>
  </p-tabPanel>
</p-tabView>

<p-confirmDialog width="425"></p-confirmDialog>
<app-morphological-input-form #form [(visible)]="displayDialog" (onHide)="handleHide($event)"></app-morphological-input-form>
<app-import-project [visible]="importDialog" (onClose)="importFile($event)"></app-import-project>
<app-export-project #exportProject [visible]="exportDialog" (onClose)="exportFile($event)"></app-export-project>
<app-new-project [visible]="createNewProject" (onClose)="createProject($event)"></app-new-project>
<p-contextMenu #cm [global]="true" [model]="operations"></p-contextMenu>
