<h1> Morphological Chart </h1>
<div *ngFor="let morphologicalChart of morphologicalCharts | async">
  <table class="morphological-chart">
    <!-- start of "title" row -->
    <tr class="morphological-chart-no-border">
      <td colspan="4">
        <div class="arabicTitle caption">{{ morphologicalChart.abbreviatedConjugation.conjugationHeader.title }}</div>
      </td>
    </tr>
    <!-- end of "title" row -->
    <!-- start of "header"" row" -->
    <tr class="morphological-chart">
      <td colspan="2" style="width: 50%">
        <div>
          {{ morphologicalChart.abbreviatedConjugation.conjugationHeader.translation || '&nbsp;'}}
        </div>
      </td>
      <td colspan="2" style="text-align: right; width: 50%">
        <div class="arabicNormal">
          {{ morphologicalChart.abbreviatedConjugation.conjugationHeader.typeLabel1 || '&nbsp;'}}
        </div>
        <div class="arabicNormal">
          {{ morphologicalChart.abbreviatedConjugation.conjugationHeader.typeLabel2 || '&nbsp;'}}
        </div>
        <div class="arabicNormal">
          {{ morphologicalChart.abbreviatedConjugation.conjugationHeader.typeLabel3 || '&nbsp;'}}
        </div>
      </td>
    </tr>
    <!-- end of "header"" row" -->
    <!-- start of "abbreviated conjugation" rows -->
    <template [ngIf]="morphologicalChart.abbreviatedConjugation.activeLine">
      <!-- start of "activeLine"" row" -->
      <tr class="morphological-chart">
        <td style="width: 25%">
          <div class="arabicNormal">
            {{ morphologicalChart.abbreviatedConjugation.activeLine.activeParticipleValue || '&nbsp;'}}
          </div>
        </td>
        <td style="width: 25%">
          <div class="arabicNormal">
            {{ morphologicalChart.abbreviatedConjugation.activeLine.verbalNoun || '&nbsp;'}}
          </div>
        </td>
        <td style="width: 25%">
          <div class="arabicNormal">
            {{ morphologicalChart.abbreviatedConjugation.activeLine.presentTense || '&nbsp;'}}
          </div>
        </td>
        <td style="width: 25%">
          <div class="arabicNormal">
            {{ morphologicalChart.abbreviatedConjugation.activeLine.pastTense || '&nbsp;'}}
          </div>
        </td>
      </tr>
    </template>
    <template [ngIf]="morphologicalChart.abbreviatedConjugation.passiveLine">
      <!-- start of "passiveLine"" row" -->
      <tr class="morphological-chart">
        <td style="width: 25%">
          <div class="arabicNormal">
            {{ morphologicalChart.abbreviatedConjugation.passiveLine.passiveParticipleValue || '&nbsp;'}}
          </div>
        </td>
        <td style="width: 25%">
          <div class="arabicNormal">
            {{ morphologicalChart.abbreviatedConjugation.passiveLine.verbalNoun || '&nbsp;'}}
          </div>
        </td>
        <td style="width: 25%">
          <div class="arabicNormal">
            {{ morphologicalChart.abbreviatedConjugation.passiveLine.presentPassiveTense || '&nbsp;'}}
          </div>
        </td>
        <td style="width: 25%">
          <div class="arabicNormal">
            {{ morphologicalChart.abbreviatedConjugation.passiveLine.pastPassiveTense || '&nbsp;'}}
          </div>
        </td>
      </tr>
    </template>
    <template [ngIf]="morphologicalChart.abbreviatedConjugation.imperativeAndForbiddingLine">
      <tr class="morphological-chart">
        <td colspan="2" style="width: 50%">
          <div class="arabicNormal">
            {{ morphologicalChart.abbreviatedConjugation.imperativeAndForbiddingLine.forbiddingWithPrefix || '&nbsp;'}}
          </div>
        </td>
        <td colspan="2" style="width: 50%">
          <div class="arabicNormal">
            {{ morphologicalChart.abbreviatedConjugation.imperativeAndForbiddingLine.imperativeWithPrefix || '&nbsp;'}}
          </div>
        </td>
      </tr>
    </template>
    <template [ngIf]="morphologicalChart.abbreviatedConjugation.adverbLine">
      <tr class="morphological-chart">
        <td colspan="4" style="width: 100%">
          <div class="arabicNormal">
            {{ morphologicalChart.abbreviatedConjugation.adverbLine.adverb || '&nbsp;'}}
          </div>
        </td>
      </tr>
    </template>
    <!-- end of "abbreviated conjugation" rows -->
    <tr class="morphological-chart-no-border">
      <td colspan="4" style="width: 100%">&nbsp;</td>
    </tr>
  </table>
  <!-- end of abbreviated conjugation table -->
  <!-- start of detailed conjugation table -->
  <table class="morphological-chart">
    <tr class="morphological-chart">
      <td class="caption" style="width: 49.5%" colspan="3">
        <div class="arabicNormal">
          {{ morphologicalChart.detailedConjugation.activeTensePair.leftSideConjugations.termType || '&nbsp;'}}
        </div>
      </td>
      <td style="width: 1%">
        &nbsp;
      </td>
      <td class="caption" style="width: 49.5%" colspan="3">
        <div class="arabicNormal">
          {{ morphologicalChart.detailedConjugation.activeTensePair.rightSideConjugations.termType || '&nbsp;'}}
        </div>
      </td>
    </tr>
    <!-- start row # 1-->
    <tr class="morphological-chart">
      <td style="width: 16.5%">
        &nbsp;
      </td>
      <td style="width: 16%">
        &nbsp;
      </td>
      <td style="width: 16%">
        &nbsp;
      </td>
      <td style="width: 1%">
        &nbsp;
      </td>
      <td style="width: 16.5%">
        &nbsp;
      </td>
      <td style="width: 16%">
        &nbsp;
      </td>
      <td style="width: 16%">
        &nbsp;
      </td>
    </tr>
    <!-- end row # 1-->
  </table>
  <!-- end of detailed conjugation table -->
</div>
