<template [ngIf]="abbreviatedConjugations">
  <div class="ui-grid-row" style="margin-bottom: 20px">
    <div class="ui-grid-col-10">
      <app-arabic-dropdown [options]="titles" styleClass="arabicNormalBig" [displayType]="displayType" [style]="{'width': '400px', 'font-size': '24px'}"
        (onChange)="handleChange($event)"></app-arabic-dropdown>
    </div>
    <div class="ui-grid-col-2">&nbsp;</div>
  </div>
</template>

<div *ngIf="selectedAbbreviatedConjugation">
  <app-abbreviated-conjugation [abbreviatedConjugation]="selectedAbbreviatedConjugation"></app-abbreviated-conjugation>
</div>
