<div *ngIf="show">
  <p-panel [collapsed]="true" [toggleable]="true" [style]="{'margin-top':'20px'}">
    <p-header>
      <div class="ui-helper-clearfix" style="text-align: center;">
        <span class="ui-panel-title arabicCaption" style="display:inline-block;margin-top:2px">          صرف كبير          </span>
      </div>
    </p-header>
    <app-verb-conjugation [group]="pastTense"></app-verb-conjugation>
    <app-verb-conjugation [group]="presentTense"></app-verb-conjugation>
    <template ngFor let-group [ngForOf]="verbalNouns">
      <app-noun-conjugation [group]="group"></app-noun-conjugation>
    </template>
    <app-noun-conjugation [group]="masculineActiveParticiple"></app-noun-conjugation>
    <app-noun-conjugation [group]="feminineActiveParticiple"></app-noun-conjugation>
    <template [ngIf]="pastPassiveTense">
      <app-verb-conjugation [group]="pastPassiveTense"></app-verb-conjugation>
    </template>
    <template [ngIf]="presentPassiveTense">
      <app-verb-conjugation [group]="presentPassiveTense"></app-verb-conjugation>
    </template>
    <template [ngIf]="masculinePassiveParticiple">
      <app-noun-conjugation [group]="masculinePassiveParticiple"></app-noun-conjugation>
    </template>
    <template [ngIf]="presentPassiveTense">
      <app-noun-conjugation [group]="femininePassiveParticiple"></app-noun-conjugation>
    </template>
    <app-verb-conjugation [group]="imperative"></app-verb-conjugation>
    <app-verb-conjugation [group]="forbidding"></app-verb-conjugation>
    <template ngFor let-group [ngForOf]="adverbs">
      <app-noun-conjugation [group]="group"></app-noun-conjugation>
    </template>
  </p-panel>
</div>
