<div *ngIf="show">
  <p-panel [collapsed]="true" [toggleable]="true" [style]="{'margin-top':'20px'}">
    <p-header>
      <div class="ui-helper-clearfix" style="text-align: center;">
        <span class="ui-panel-title arabicCaption" style="display:inline-block;margin-top:2px">          صرف كبير          </span>
      </div>
    </p-header>
    <app-verb-conjugation [group]="detailedConjugation.pastTense"></app-verb-conjugation>
    <app-verb-conjugation [group]="detailedConjugation.presentTense"></app-verb-conjugation>
    <template ngFor let-group [ngForOf]="detailedConjugation.verbalNouns">
      <app-noun-conjugation [group]="group"></app-noun-conjugation>
    </template>
    <app-noun-conjugation [group]="detailedConjugation.activeParticipleMasculine"></app-noun-conjugation>
    <app-noun-conjugation [group]="detailedConjugation.activeParticipleFeminine"></app-noun-conjugation>
    <template [ngIf]="detailedConjugation.pastPassiveTense">
      <app-verb-conjugation [group]="detailedConjugation.pastPassiveTense"></app-verb-conjugation>
    </template>
    <template [ngIf]="detailedConjugation.presentPassiveTense">
      <app-verb-conjugation [group]="detailedConjugation.presentPassiveTense"></app-verb-conjugation>
    </template>
    <template [ngIf]="detailedConjugation.passiveParticipleMasculine">
      <app-noun-conjugation [group]="detailedConjugation.passiveParticipleMasculine"></app-noun-conjugation>
    </template>
    <template [ngIf]="detailedConjugation.passiveParticipleFeminine">
      <app-noun-conjugation [group]="detailedConjugation.passiveParticipleFeminine"></app-noun-conjugation>
    </template>
    <app-verb-conjugation [group]="detailedConjugation.imperative"></app-verb-conjugation>
    <app-verb-conjugation [group]="detailedConjugation.forbidding"></app-verb-conjugation>
    <template ngFor let-group [ngForOf]="detailedConjugation.adverbs">
      <app-noun-conjugation [group]="group"></app-noun-conjugation>
    </template>
  </p-panel>
</div>
