<div>
  <p-dataTable [value]="values" [responsive]="true">
    <p-headerColumnGroup>
      <p-row>
        <p-column colspan="3">
          <template pTemplate="header">
            <div class="arabicCaption">{{ termType }}</div>
          </template>
        </p-column>
        <p-column rowspan="2">
          <template pTemplate="header">
            <div class="arabicCaption">&nbsp;</div>
          </template>
        </p-column>
      </p-row>
      <p-row>
        <p-column>
          <template pTemplate="header">
            <div class="arabicCaption">{{ numbers[2].label }}</div>
          </template>
        </p-column>
        <p-column>
          <template pTemplate="header">
            <div class="arabicCaption">{{ numbers[1].label }}</div>
          </template>
        </p-column>
        <p-column>
          <template pTemplate="header">
            <div class="arabicCaption">{{ numbers[0].label }}</div>
          </template>
        </p-column>
      </p-row>
    </p-headerColumnGroup>
    <p-column [style]="{'text-align': 'center'}">
      <template let-mi="rowData" pTemplate="body">
        <div class="arabicNormal">{{ mi.plural }}</div>
      </template>
    </p-column>
    <p-column [style]="{'text-align': 'center'}">
      <template let-mi="rowData" pTemplate="body">
        <div class="arabicNormal">{{ mi.dual }}</div>
      </template>
    </p-column>
    <p-column [style]="{'text-align': 'center'}">
      <template let-mi="rowData" pTemplate="body">
        <div class="arabicNormal">{{ mi.singular }}</div>
      </template>
    </p-column>
    <p-column [style]="{'text-align': 'center'}">
      <template let-mi="rowData" pTemplate="body">
        <div class="arabicCaption">{{ mi.type }}</div>
      </template>
    </p-column>
  </p-dataTable>
</div>
<div>&nbsp;</div>
