<p-overlayPanel #rootLettersPicker [showCloseIcon]="true" [dismissable]="false">
  <div>
    <app-arabic-button #HAMZA></app-arabic-button>
    <app-arabic-button #BA></app-arabic-button>
    <app-arabic-button #TA></app-arabic-button>
    <app-arabic-button #THA></app-arabic-button>
    <app-arabic-button #JEEM></app-arabic-button>
    <app-arabic-button #HHA></app-arabic-button>
    <app-arabic-button #KHA></app-arabic-button>
    <app-arabic-button #DAL></app-arabic-button>
    <app-arabic-button #THAL></app-arabic-button>
    <app-arabic-button #RA></app-arabic-button>
    <app-arabic-button #ZAIN></app-arabic-button>
  </div>
  <div>&nbsp;</div>
  <div>
    <app-arabic-button #SEEN></app-arabic-button>
    <app-arabic-button #SHEEN></app-arabic-button>
    <app-arabic-button #SAD></app-arabic-button>
    <app-arabic-button #DDAD></app-arabic-button>
    <app-arabic-button #TTA></app-arabic-button>
    <app-arabic-button #DTHA></app-arabic-button>
    <app-arabic-button #AIN></app-arabic-button>
    <app-arabic-button #GHAIN></app-arabic-button>
    <app-arabic-button #FA></app-arabic-button>
    <app-arabic-button #QAF></app-arabic-button>
  </div>
  <div>&nbsp;</div>
  <div>
    <app-arabic-button #KAF></app-arabic-button>
    <app-arabic-button #LAM></app-arabic-button>
    <app-arabic-button #MEEM></app-arabic-button>
    <app-arabic-button #NOON></app-arabic-button>
    <app-arabic-button #HA></app-arabic-button>
    <app-arabic-button #WAW></app-arabic-button>
    <app-arabic-button #YA></app-arabic-button>
    <button type="text" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
      <span class="ui-button-text ui-c ArabicButton"> Clear </span>
    </button>
  </div>
</p-overlayPanel>
