<p-panel [collapsed]="collapsed" [toggleable]="true" [style]="{'margin-top':'20px'}">
  <p-header>
    <div class="ui-helper-clearfix" style="text-align: center;">
      <span class="ui-panel-title arabicCaption" style="display:inline-block;margin-top:2px">
         {{ termType }}
         </span>
    </div>
  </p-header>
  <p-dataTable [value]="values" [responsive]="true" [style]="{'margin-bottom':'20px', 'direction': 'rtl'}">
    <p-headerColumnGroup>
      <p-row>
        <p-column>
          <ng-template pTemplate="header">
            <div class="arabicCaption">&nbsp;</div>
          </ng-template>
        </p-column>
        <p-column>
          <ng-template pTemplate="header">
            <div class="arabicCaption">{{ numbers[0].label }}</div>
          </ng-template>
        </p-column>
        <p-column>
          <ng-template pTemplate="header">
            <div class="arabicCaption">{{ numbers[1].label }}</div>
          </ng-template>
        </p-column>
        <p-column>
          <ng-template pTemplate="header">
            <div class="arabicCaption">{{ numbers[2].label }}</div>
          </ng-template>
        </p-column>
      </p-row>
    </p-headerColumnGroup>
    <p-column [style]="{'text-align': 'center'}">
      <ng-template let-mi="rowData" pTemplate="body">
        <div class="arabicCaption">{{ mi.type }}</div>
      </ng-template>
    </p-column>
    <p-column [style]="{'text-align': 'center'}">
      <ng-template let-mi="rowData" pTemplate="body">
        <div class="arabicNormal">{{ mi.singular }}</div>
      </ng-template>
    </p-column>
    <p-column [style]="{'text-align': 'center'}">
      <ng-template let-mi="rowData" pTemplate="body">
        <div class="arabicNormal">{{ mi.dual }}</div>
      </ng-template>
    </p-column>
    <p-column [style]="{'text-align': 'center'}">
      <ng-template let-mi="rowData" pTemplate="body">
        <div class="arabicNormal">{{ mi.plural }}</div>
      </ng-template>
    </p-column>
  </p-dataTable>
</p-panel>
<div>&nbsp;</div>
