<p-toolbar>
  <div class="ui-toolbar-group-left">
    <button pButton type="button" label="Add" icon="fa-plus-square" (click)="handleButtonClick('ADD')"></button>
    <button pButton type="button" label="Edit" icon="fa-pencil-square" (click)="handleButtonClick('EDIT')"></button>
    <button pButton type="button" label="Duplicate" icon="fa-clone" (click)="handleButtonClick('DUPLICATE')"></button>
    <button pButton type="button" label="Remove" icon="fa-times" (click)="handleButtonClick('REMOVE')"></button>
    <button pButton type="button" label="View Conjugation(s)" icon="fa-search" (click)="handleButtonClick('VIEW')"></button>
  </div>
</p-toolbar>
