<div>
  <form [formGroup]="misForm" (ngSubmit)="onSubmit(misForm.value)">
    <p-panel [toggleable]="true">
      <p-header class="ui-helper-clearfix">
        <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">Select Root Letters &amp; Template</span>
      </p-header>
      <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
        <!-- RootLetters row -->
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Select root letters:
          </div>
          <div class="ui-grid-col-4">
            <input type="text" pInputText class="ArabicNormal" [formControl]="misForm.get('rootLettersText')" [(ngModel)]="model.rootLettersText"
              readonly/>
          </div>
          <div class="ui-grid-col-3">
            <i class="fa fa-search" (click)="picker.show($event)" style="font-size:24px"></i>
          </div>
          <div class="ui-grid-col-3">&nbsp;</div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-12">&nbsp;</div>
        </div>

        <!-- NamedTemplate row -->
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Select template:
          </div>
          <div class="ui-grid-col-5">
            <app-arabic-dropdown [options]="namedTemplates" [formControl]="misForm.get('template')" [(ngModel)]="model.template"></app-arabic-dropdown>
          </div>
          <div class="ui-grid-col-5">&nbsp;</div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-12">&nbsp;</div>
        </div>

        <!-- translation row -->
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Translation:
          </div>
          <div class="ui-grid-col-5">
            <input type="text" pInputText [formControl]="misForm.get('translation')" [(ngModel)]="model.translation" />
          </div>
          <div class="ui-grid-col-5">&nbsp;</div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-12">&nbsp;</div>
        </div>

        <!-- ConjugationConfiguration row -->
        <div class="ui-grid-row">
          <div class="ui-grid-col-2">
            Remove passive line:
          </div>
          <div class="ui-grid-col-2">
            <p-inputSwitch [formControl]="misForm.get('removePassiveLine')" [(ngModel)]="model.removePassiveLine" onLabel="Yes" offLabel="No"></p-inputSwitch>
          </div>
          <div class="ui-grid-col-2">
            Skip rule processing:
          </div>
          <div class="ui-grid-col-2">
            <p-inputSwitch [formControl]="misForm.get('skipRuleProcessing')" [(ngModel)]="model.skipRuleProcessing" onLabel="Yes" offLabel="No"></p-inputSwitch>
          </div>
          <div class="ui-grid-col-4">&nbsp;</div>
        </div>
        <div class="ui-grid-row">
          <div class="ui-grid-col-12">&nbsp;</div>
        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-2">&nbsp;</div>
          <div class="ui-grid-col-4">
            <button pButton type="submit" label="View Conjugations" [disabled]="!misForm.valid"></button>
          </div>
          <div class="ui-grid-col-4">
            <button pButton type="button" label="View Dictionary" (click)="viewDictionary()"></button>
          </div>
          <div class="ui-grid-col-2">&nbsp;</div>
        </div>
      </div>
    </p-panel>
  </form>
</div>

<app-arabic-keyboard #picker (onClose)="handleClose($event)"></app-arabic-keyboard>
