/* You can add global styles to this file, and also import other style files */
.arabicTitle, .arabicNormal, .arabicNormalBig, .arabicCaption, .arabicToggleButton, .arabicButton, .arabicDropdown,
.verbalNounToggleButton, .verbalNounToggleSelector {
	font-family: 'KFGQPC Uthman Taha Naskh';
	direction: rtl;
}

.arabicTitle {
  font-size: 36px;
  font-weight: bolder;
  color: #2E74B5;
}

.arabicNormal {
	font-size: 24px;
}

.arabicCaption {
 font-size: 30px;
 font-weight: bolder;
 color: #2E74B5;
}

.arabicToggleButton {
  font-size: 30px;
}

.verbalNounToggleSelector {
  font-size: 24px;
  width: 128px;
}

.arabicNormalBig {
  font-size: 30px;
}

.arabicButton {
  font-size: 24px;
}

.arabicDropdown {
	font-size: 22px;
}

.code {
  font-family: Georgia;
  font-size:12pt
}

.translation {
  font-family: Candara;
  font-size:14pt
}

table.morphological-chart {
  border-collapse: collapse;
  width: 100%;
}

table.morphological-chart tr td {
  text-align: center;
}

td.morphological-chart {
  border: 1px solid black;
}

td.morphological-chart-no-border {
  border: 0;
}
