/* You can add global styles to this file, and also import other style files */
.ArabicTitle,.ArabicNormal, .ArabicToggleButton, .ArabicButton, .ArabicDropdown {
	font-family: 'KFGQPC Uthman Taha Naskh';
	direction: rtl;
}

.ArabicTitle {
  font-size: 48px;
}

.ArabicNormal {
	font-size: 20px;
}

.ArabicToggleButton {
  font-size: 30px;
}

.ArabicButton {
  font-size: 24px;
}

.ArabicDropdown {
	font-size: 22px;
}

.code {
  font-family: Georgia;
  font-size:12pt
}
